{% extends "page.html" %}
{% block title %}Golang Talk - 19th July 2014{% endblock %}
{% block page_content %}
{% filter md %}

<dl>
	<dt>Why?</dt>
	<dd>
		<p>
			I been getting quite excited about golang these days, and was 
			hoping to connect with similar minded people around mumbai. Have not
			found any local groups, so may be we can start one.
		</p>
	</dd>

	<dt>What?</dt>
	<dd>
		<p>
			I would like to kick start things by sharing my experiences with go 
			in production at 
			<a href="http://www.browserstack.com">BrowserStack</a>.
		</p>

		<p>
			<em>
				"You are new to go, here is whats awesome about it, and a 
				beginnerish tutorial."
			</em>
		</p>

		<p>Anybody interested?</p>
	</dd>

	<dt>When?</dt>
	<dd><p>11AM, Saturday, 19th July, 2014</p></dd>

	<dt>Where?</dt>
	<dd>
		<p>
			<a href="http://www.opentable.com/">OpenTable</a> Office, Unit No.
			204, 2nd floor, B wing, Supreme business park, Hiranandani, Powai, Mumbai
		</p>
	</dd>

	<dt>Who?</dt>
	<dd>
		<p>
			Some cool folks from BrowserStack, OpenTable, 
			<a href="http://www.coverfox.com">CoverFox</a> so far.
		</p>
		<p>
			You?
		</p>

		<p>
			Just walk in. Exact address will be posted soon. Drop me a mail in 
			case of any doubts.
		<p>
	</dd>

</dl>

{% endfilter %}
{% endblock %}
