{% extends "page.html" %}
{% block title %}Welcome{% endblock %}
{% block comments %}{% endblock %}
{% block page_content %}
{% filter md %}

Hey!

I work with the wonderful folks at [BrowserStack](http://www.browserstack.com). 

[Golang Talk - 19th July 2014](/gotalk/).

A few of my open source babies [smarturls](/smarturls/),
[fhurl](http://packages.python.org/fhurl/), [importd](/importd/),
[zutils](https://github.com/amitu/zutils/blob/master/amitu/zutils.py) and
[dutils](http://packages.python.org/dutils/). Check out my [open
source](/open-source.html) page to see them in detail.

Writings: [angularjs](/angularjs/), [flash for python developers](/flash/),
[style guide](/style.html).

I am a strong beliver of [Women must own Taser (Stun Gun) In
India](http://amitu.com/taser/). My position paper on [rape and what we should
do about it](/india/rape/).

-- Amit Upadhyay

<header>
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <h1 class="h2 entry-title">Blog</h1>
        </div><!-- unit-inner -->
    </div><!-- unit-head -->
</header>

<ul class="posts">
    {% for post in posts %}
        <li>
            <span>{{ post.date|date:"d M Y"}}</span> &raquo; 
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>

{% endfilter %}
{% endblock %}
