{% extends "india/page.html" %}
{% block title %}AmitU's Zeroth Law about Legislations{% endblock %}
{% block page_content %}
{% filter md %}

There are some laws whose *only* effect is to make critizens criminals.

Consider speed limit rule on Bandra Worli Sealink in Mumbai. The speed limit if
50KMph. It is atrociously low. It is violated by 99% of the people who take the
sea link. The law provides no safety, as well its not followed, but also the
speed limit on expressways in India is typically 80kmph, and the sealink is no
worse than express way, be in terms of purpose, or be in terms of quality or
width of the road. The limit of 50kmph is simply absurd, and is there only
because of the technicality that the speed limit in any city road is 50kmph,
which itself is absurd to begin with.

The speed limit is up for updation since quite some time, there was a [planned
amendment to bring the speed limit up to
100kmph](http://in.rediff.com/money/2007/mar/29speed.htm), but its pending
since 2007.

Take the case of ceiling on election spending. *EVERY* single MP or MLA is
violating that law. It has been called to update, its so thoroughly out of the
date.

There are numerous such laws. And they are there to make honest people
criminals. They allow corrupt police men to then exploit the newly made
criminals. And they offer absolutely no benefit to the masses. They are just
plain rot.

My point here is not to highlight one or two such laws, but the highlight the
absurdity of such laws. The law books are filled by laws that nobody looks at.
The law that only serves one purpose: make people criminals. Such laws must be
abolished. 

As per the zeroth law, any law which is violated (not want to be violated, eg
tax evasion) by 90% of people who potentially fall in purview of the law,
should become void by default.

If 90% of people *are* violating a law, the state has no right to persecute a
few. If the law *is* important for the state, then state *must* persecute
everyone violating it.

#### Why?

In order to further understand the motivation behind this please read this
brilliant article about [What Strengthens and Weakens Our Integrity -- Part I:
Why Small Choices
Count](http://www.artofmanliness.com/2013/08/05/what-strengthens-and-weakens-our-integrity-part-i-why-small-choices-count/).
The key idea of which is:

> Once you commit one dishonest act, your moral standards loosen, your
> self-perception as an honest person gets a little hazier, your ability to
> rationalize goes up, and your fudge factor margin increases. Where you draw
> the line between ethical and unethical, honest and dishonest, moves outward.
> From his research, Ariely has found that committing a dishonest act in one
> area of your life not only leads to more dishonesty in that one area, but
> ends up corrupting other areas of your life as well. "A single act of
> dishonesty," he argues, "can change a person's behavior from that
> point onward."

A simple traffic rule, forces a person to decide for himself if they are going
to be honest or not, and a mindless rule will force more and more people to
break the rule, and skew their moral compass and make it more likely for them
to break more rules (or feel bad about themselves).

{% endfilter %}
{% endblock %}
