{% extends "base.html" %}
{% block content %}
<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title">{% block title %}{% endblock %}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
                    {% block page_content %}{% endblock %}
				</div><!-- entry-content -->
			</div><!-- bd -->
					<hr>
<figure class="kudo kudoable" data-id="1">
    <a class="kudobject">
        <div class="opening">
            <div class="circle">&nbsp;</div>
        </div>
    </a>
    <a href="#kudo" class="count">
        <span class="num">0</span>
        <span class="txt">Kudos</span>
    </a>
</figure>
					
                    <p clas="subscribe" style="background: #fcf7ab; padding-left: 10px">

                        <a href="http://twitter.com/amitu">Follow me on twitter: 
                        @amitu</a>.

                    </p>

          {% block comments %}
					<div class="comment">
            {% include "comments.html" %}
					</div>
          {% endblock %}

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<!-- p class="gotop">
						<a href="#page">Back to Top</a>
					</p -->
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
{% endblock %}
