{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ post.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ post.body|md:"codehilite" }}
					<div class="meta">
                    <hr>
						<p class="date-publish">
							Published:
							<date class="date-pub" title="{{ post.date }}" datetime="{{ post.date  }}" pubdate>
							<span class="month"><abbr>{{ post.date|date:'M' }}</abbr></span>
							<span class="day">{{ post.date|date:'d' }}</span>
							<span class="year">{{ post.date|date:'Y' }}</span>
							</date>
						</p>
					</div><!-- meta -->
				</div><!-- entry-content -->

<figure class="kudo kudoable" data-id="1"> 
    <a class="kudobject">
        <div class="opening">
            <div class="circle">&nbsp;</div>
        </div>
    </a>
    <a href="#kudo" class="count">
        <span class="num">0</span>
        <span class="txt">Kudos</span>
    </a>
</figure>

				<div class="misc-content" style="padding-top: 30px">
                    <p clas="subscribe" style="background: #fcf7ab; padding-left: 10px">

                        <a href="http://twitter.com/amitu">Follow me on twitter: 
                        @amitu</a>.

                    </p>
					<!-- div class="social">
						<ul class="list-linear">
							<li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
							<li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
						</ul>
					</div -->
					<div class="comment">
            {% include "comments.html" %}
					</div>
				</div><!-- misc-content -->
			</div><!-- bd -->
			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						<ul>
							{% if page.previous %}
							<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.previous and page.next %}
							<li class="pipe"> | </li>
							{% endif %}
							{% if page.next %}
							<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
							{% endif %}
						</ul>
					</nav>
					<!-- p class="gotop">
						<a href="#page">Back to Top</a>
					</p -->
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
{% endblock %}
