{% extends "page.html" %}
{% block title %}Experiments{% endblock %}
{% block comment %}{% endblock %}
{% block page_content %}
{% filter md %}

#### [MumPy Survey](/mumpy.html)

For latest [mumpy.org](http://mumpy.org) meet we are collecting some data using
google docs. I wanted to give some visualization of that, basically play with
google docs apis and angularjs a bit more.

Here it is: [mumpy.html](/mumpy.html).

Source:
[mumpy.md](https://raw.github.com/amitu/amitu.github.com/master/mumpy.md),
[mumpy.js](https://github.com/amitu/amitu.github.com/blob/master/javascripts/mumpy.js)

----

#### [ikog.amitu.com](http://ikog.amitu.com)

[ikog](https://sites.google.com/site/henspace/ikog/) web port using
[dojo](http://dojotoolkit.org) and [Parse](http://parse.com).

This application is work in progress, I did to learn dojo. The source code is
available on [github](https://github.com/amitu/ikog). Current version of this
application is live on [ikog.amitu.com](http://ikog.amitu.com).

Status: Work in progress.

----

#### [Reader](/lab/reader.html)

What is special about kindle that is not possible on web based reader? When I
change font size on kindle, the first word on current page remains the first
word of the page with new font size. This is *huge*. It allows me to change
font size without losing where I was. On web when I resize, especially long
texts, I lose my position very once in a while, and this negative feedback
makes sure I do not resize on web.

My [reader](/lab/reader.html) tries to solve this for web.

Status: Core prototype done, font+/- and next/previous page work as expected.

----

#### [Quotes page search](/quotes.html)

This is [live search](/quotes.html) powered by [angularjs](/angularjs/). The
key problem was that I want to continue to maintain as simple text file, hosted
on a static server.

I did this to learn angularjs.

Status: Working, slower than I would like tho. IE not yet supported.

----

#### [lipy - Pythonic Lisp](/lab/lipy/)

This is an experimental implementation of [lisp like language in
python](/lab/lipy/). I want it to support at least lisp lambdas, macros and
tail call optimization.

[lipy.py](/lab/lipy/)

I am doing this to learn clojure actually. Not meant for production.

Status: Arithmatic and python world access working.
{% endfilter %}
{% endblock %}
