{% extends "page.html" %}
{% block title %}Women must own Taser(Stun Gun) In India{% endblock %}
{% block comment %}{% endblock %}
{% block page_content %}
{% filter md %}

#### Problem

A spate of rape related stories like recent rape case in the middle of road in
Delhi, and a series of rape cases of women in Mumbai in their homes, are all
pointing towards the abysmal security we have in India for people in general
and women in particular.

Police is no where to be found, and the moment a woman is found alone she is
completely helpless against any aggression by men. No one can dispute that if
one complains to police about crime in progress in India, the time it takes for
police to show up and stop the crime is measured in hours and days if not
weeks. Police has failed us.

Our courts have huge pendency, rape cases take forever to lead to conviction,
so the punishment as a deterrence to crime is not working. Till 2000 the
average time for a rape case was above 7 years before it can be closed. In most
cases the guilty walks free because of loss of evidence with time and loss of
interest of potential witnesses due to delays. Courts have failed us too.

Overall the society too takes a very backwards view on this issue, try to blame
women for their dressing style, the way people walk and so on. Some elements in
our society, the moral police, want women to lose their right for the
"privilege" of security. We are a free country. Women must be allowed to do
what they chose to within the limits of law, and it is societies responsibility
to provide protection not moral lessons. Society is full of people who really
believe "she goes to nightclubs or she wears jeans, she deserved it".  Society
has failed us too.

The lack of security, the environment in which women feel unsafe stepping out
of the house not only affects freedom of women, it also affects their ability
be self sufficient, to support a family, to live an independent life. Work
requires us to travel, and if we can not travel because it is unsafe, we can
not work at all. Many husbands can demand or request their wives to not work as
it is unsafe. Families can not let their daughters to travel in unsafe areas
and times, even at the expense on their education. Even people who are not
getting raped are victims of rape, entire generations are being denied access
to education, job opportunities because of this.

#### Solution

If the problem starts with people not taking things in their own hands, then
problem ends too by other people taking things in their hands.

Tasers or stun guns are one of the best defense against rape. Unlike guns it
does not require training or license to own it (for the models that do not
taser from a distance). Unlike guns they are cheaply available.

One shot of the stun gun can immobilize an aggressor for 20-30 minutes
rendering him completely helpless for that duration, without any long term
impact on his well being, so it can be really used in a shoot first and ask
questions later fashion without any real drawbacks.

Women must own it, at least in statistically sufficient number that a potential
aggressor takes this into consideration before attacking someone. One can keep
it handy when opening doors to strangers, or in purse when traveling in late
hours or secluded areas.

With this a woman can intervene, not just when she is attacked, but also when
she senses someone else is under threat.

A stun gun may not provide much protection when attacked by a gang, but it
provides plenty of protection against one or two perpetrators.

It is not just about personal safety, it is a responsibility of women to do
something to empower women. Even if one is not personally in threat, by
spreading awareness about it, showing it to potential victims, educating them
about it is also women's responsibility. Safety is a necessity for true
freedom.

Police, judiciary and society is not coming to protect you. Women must protect
themselves and help empower each others. In order for achieving equality with
men, women must be dangerous too. They must be in a position to inflict severe
damage to others if they chose to, to level the field. If men are trusted to
not be rapist all of them, then women must be trusted that they wont all be
misusing the tasers. If only those men who rape deserve punishment the only
those women who actually misuse tasers deserver punishment. We do not take way
penis of all men to make sure they never rape, similarly society can not take
away tasers from women just so that they can not harm anyone.

#### Would Private Establishments Allow Stun-Guns?

A very interesting question was raise by [@ayenaz](http://twitter.com/ayenaz).
If malls, theaters, discs, shops, schools, etc, where they routinely inspect a
person's belonging at entrance and do not allow "dangerous" things, if they do
not allow stun guns, then women will be forced to not carry it when going to
school, malls, theaters, etc. This might constitute majority of reasons for
stepping out and women would be rendered helpless to either not go those places
or not carry stun gun.

It is therefore an urgent duty for stronger women of society to demand they be
allowed entry in all those places with stun gun. Strong women, more educated,
well to do, well connected etc, probably face lesser risk of rape, yet they
must carry stun guns in larger numbers so as to make it easy for other less
fortunate women.

Airport faces a similar problem, but stun gun can be stored in check-in luggage
before checking it in, and recovered when stepping out, so it is not a real
problem.

In this regard, surprisingly, only private establishments would be a problem
and not government. And private establishments we can hurt with our pocket. If
some do not allow stun guns, then we must publish this fact and encourage all of
our friends to not pay them any money.

#### Conclusion

If a woman is traveling alone in auto-rickshaw, bus or a train, police can not
come for their protection if attacked. There is no other solution other than
giving strength to women to defend themselves. Regular guns are difficult to
obtain, maintain, use in time of threat, and keep safe, where as stun guns do
not suffer from any of these drawbacks. Stun gun victims are only temporarily
immobilized, it only takes away their capability to harm others.

It is the societies responsibility to give access to as many stun guns as
required, and then some more. It is your and mine responsibility.

#### How to obtain Stun Gun

In Bombay I know of one supplier, contact: 9821071107, sells for 3500 bucks or
so. In Pune there is [another
supplier](http://trade.indiamart.com/details.mp?offer=2507600563), their
website:
[www.securityplanet.co](http://www.securityplanet.co/self-defense-products.html).

A [quick search](https://www.google.co.in/webhp?q=taser%20india) will reveal a
lot more.

DISCLAIMER: I have no financial ties with any of these guys.

{% endfilter %}
{% endblock %}
